.nav {
  width: 22rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color:#bedaee;
  box-shadow: 0 0 2px 3px #878787;
}
.nav h1 {
  text-shadow: 2px 2px rgba(241, 243, 126, 0.65);
  color: rgb(245, 89, 89);
  padding: 0.3rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  animation: fadeInUp 1s forwards; /* Added animation effect */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}